[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SlidingWindows"]
	path = SlidingWindows
	url = https://github.com/cran/SlidingWindows
